:root {
  --main-color: hsl(5, 85%, 63%);
  --dark-color: hsl(240, 100%, 5%);
  --text-color: hsl(236, 13%, 42%);
  --text-light-color: hsl(233, 8%, 79%);
  --text-hover-color: hsl(35, 77%, 62%);
  --bg-and-text-color: hsl(36, 100%, 99%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90vw;
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 90px;
  background-color: var(--bg-and-text-color);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(--dark-color);
  position: relative;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.nav-link {
  transition: 0.3s all;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}

.nav-link:hover {
  color: var(--text-hover-color);
}

.btn-mobile {
  display: none;
}

/* Main */

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 50px;
}

/* First article */
.first-article {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}
.main-figure {
  grid-column: 1 / 3;
}
.main-figure img {
  width: 100%;
}

.main-note-h1 {
  grid-column: 1 / 2;
  font-size: 56px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1px;
}

.main-note-content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-advance {
  color: var(--text-color);
  line-height: 1.5;
}
.btn-more {
  transition: 0.3s all;
}
.btn-more:link,
.btn-more:visited {
  background-color: var(--main-color);
  width: fit-content;
  display: inline-block;
  color: var(--bg-and-text-color);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
}
.btn-more:hover {
  background-color: var(--dark-color);
}
.btn-more:active {
  transform: scale(0.98);
}

/* Aside  */
.aside {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: var(--dark-color);
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-light-color);
}

.aside-title-link:link,
.aside-title-link:visited {
  text-decoration: none;
  color: var(--text-light-color);
}
.aside-title-link:hover > .aside-title{
  color: var(--main-color);
}

.aside-title {
  font-size: 36px;
  color: var(--text-hover-color);
  transition: 0.2s all;
}

.aside-note-title {
  color: var(--bg-and-text-color);
  margin-bottom: 14px;
  transition: 0.2s all;
}

.aside-note-link:link,
.aside-note-link:visited {
  text-decoration: none;
  color: var(--text-light-color);
}

.aside-note-link:hover > .aside-note-title {
  color: var(--text-hover-color);
}

.aside-divider {
  height: 1px;
  background-color: var(--text-color);
  width: 100%;
}

.aside-note-text {
  font-size: 15px;
  line-height: 1.7;
}

/* Bottom section */
.bottom-section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 15vh; */
  column-gap: 30px;
}

.bottom-card-img{
  width: 30%;
  object-fit: cover;
}

.bottom-card-article {
  display: flex;
  gap: 24px;
}

.bottom-card h3{
  margin-bottom: 12px;
}
.card-number {
  color: var(--text-light-color);
  font-size: 32px;
  line-height: 0.9;
  margin-bottom: 24px;
}
.card-title {
  font-weight: 800;
}

.bottom-card-text {
  color: var(--text-color);
  line-height: 1.6;
}

/* Atribution */
footer {
  width: 100%;
  padding: 0 24px;
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}

.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
